@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #054c73;

  --base-text-color: #333333;
  --base-font-family: 'Montserrat', sans-serif;
}

*,
*::backdrop,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: var(--base-text-color);
  font-family: var(--base-font-family);
  background-color: #fff;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style: none;
}

section {
  padding: 60px 0px;
}

/* Header */
.nav-items-container > a {
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.nav-items-container > a:hover {
  color: var(--primary-color);
  scale: 1.1;
}

/* Hero section */
.buy-now-btn {
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 12px rgba(5, 76, 115, 0.15);
}

/* Footer */
.footer-container > div > img {
  width: 200px;
  height: fit-content;
  object-fit: cover;
  border-radius: 5px;
}

@media only screen and (min-width: 640px) {
  section {
    padding: 40px 0px;
  }
}
